@font-face {font-family: CamphorPro-Light; src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/CamphorProForXiaoMi/CamphorProForXiaoMi-Light.woff) format("woff");}

@font-face {font-family: CamphorPro-Regular; src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/CamphorProForXiaoMi/CamphorProForXiaoMi-Regular.woff) format("woff");}

@font-face {font-family: CamphorPro-Bold; font-weight: 700; src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/CamphorProForXiaoMi/CamphorProForXiaoMi-Bold.woff) format("woff");}

@font-face {font-family: CamphorPro-Thin; src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/CamphorProForXiaoMi/CamphorProForXiaoMi-Thin.woff)format("woff");}

@font-face {font-family: Camphor-Heavy; font-weight: 900; src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/CamphorProForXiaoMi/CamphorProForXiaoMi-Heavy.woff) format("woff");}

@font-face {font-family: CamphorPro-Medium; src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/CamphorProForXiaoMi/CamphorProForXiaoMi-Medium.woff) format("woff");}

@font-face {font-family: ProximaNova; font-style: normal; font-weight: 400; src: url(//s01.appmifile.com/css/fonts/proximanova/proxima-nova-regular.woff?p=) format("woff");}

.f-heavy {font-family: Camphor-Heavy, sans-serif;font-weight: 900;}
.f-regular {font-family: CamphorPro-Regular, sans-serif;}
.f-light {font-family: CamphorPro-Light, sans-serif;}
.f-bold {font-family: CamphorPro-Bold, sans-serif;font-weight: 700;}
.f-medium {font-family: CamphorPro-Medium, sans-serif;}
.f-thin {font-family: CamphorPro-Thin, sans-serif;}
.f-nova {font-family: ProximaNova, sans-serif;}

@keyframes fade-ani {0% {display: none;} to {display: block;}}
@keyframes fade-ani {0% {display: none;} to {display: block;}}
@keyframes loader {0% {opacity: 0.2; transform: scaleY(0.5);} to { opacity: 1; transform: scale(1);}}

.redmi10C.overview-con .white {color: #fff;}
.redmi10C.overview-con {background: #fff; width: 100%;}
.redmi10C.overview-con .xm-price,
.redmi10C.overview-con .xm-text,
.redmi10C.overview-con .xm-visible {opacity: 0; transform: translateY(2vh);}
.redmi10C.overview-con .is-visible .xm-price,
.redmi10C.overview-con .is-visible .xm-text,
.redmi10C.overview-con .is-visible .xm-visible {opacity: 1; transform: translateY(0); transition: all 1s linear;}
.redmi10C.overview-con .f12 {font-size: 0.046875rem;}
.redmi10C.overview-con .f14 {font-size: 0.054688rem;}
.redmi10C.overview-con .f16 {font-size: 0.0625rem;}
.redmi10C.overview-con .f18 {font-size: 0.070313rem;}
.redmi10C.overview-con .f20 {font-size: 0.078125rem;}
.redmi10C.overview-con .f22 {font-size: 0.085938rem;}
.redmi10C.overview-con .f24 {font-size: 0.09375rem;}
.redmi10C.overview-con .f26 {font-size: 0.101563rem;}
.redmi10C.overview-con .f28 {font-size: 0.109375rem;}
.redmi10C.overview-con .f30 {font-size: 0.117188rem;}
.redmi10C.overview-con .f32 {font-size: 0.125rem;}
.redmi10C.overview-con .f34 {font-size: 0.132813rem;}
.redmi10C.overview-con .f36 {font-size: 0.140625rem;}
.redmi10C.overview-con .f38 {font-size: 0.148438rem;}
.redmi10C.overview-con .f40 {font-size: 0.15625rem;}
.redmi10C.overview-con .f42 {font-size: 0.164063rem;}
.redmi10C.overview-con .f44 {font-size: 0.171875rem;}
.redmi10C.overview-con .f46 {font-size: 0.179688rem;}
.redmi10C.overview-con .f48 {font-size: 0.1875rem;}
.redmi10C.overview-con .f50 {font-size: 0.195313rem;}
.redmi10C.overview-con .f52 {font-size: 0.203125rem;}
.redmi10C.overview-con .f54 {font-size: 0.210938rem;}
.redmi10C.overview-con .f56 {font-size: 0.21875rem;}
.redmi10C.overview-con .f58 {font-size: 0.226563rem;}
.redmi10C.overview-con .f60 {font-size: 0.234375rem;}
.redmi10C.overview-con .f62 {font-size: 0.242188rem;}
.redmi10C.overview-con .f64 {font-size: 0.25rem;}
.redmi10C.overview-con .f66 {font-size: 0.257813rem;}
.redmi10C.overview-con .f68 {font-size: 0.265625rem;}
.redmi10C.overview-con .f70 {font-size: 0.273438rem;}
.redmi10C.overview-con .f72 {font-size: 0.28125rem;}
.redmi10C.overview-con .f74 {font-size: 0.289063rem;}
.redmi10C.overview-con .f76 {font-size: 0.296875rem;}
.redmi10C.overview-con .f78 {font-size: 0.304688rem;}
.redmi10C.overview-con .f80 {font-size: 0.3125rem;}
.redmi10C.overview-con .f82 {font-size: 0.320313rem;}
.redmi10C.overview-con .f86 {font-size: 0.335938rem;}
.redmi10C.overview-con .f88 {font-size: 0.34375rem;}
.redmi10C.overview-con .f90 {font-size: 0.351563rem;}
.redmi10C.overview-con .f92 {font-size: 0.359375rem;}
.redmi10C.overview-con .f98 {font-size: 0.382813rem;}
.redmi10C.overview-con .f100 {font-size: 0.390625rem;}
.redmi10C.overview-con .f106 {font-size: 0.414063rem;}
.redmi10C.overview-con .f108 {font-size: 0.421875rem;}
.redmi10C.overview-con .f110 {font-size: 0.429688rem;}
.redmi10C.overview-con .f114 {font-size: 0.445313rem;}
.redmi10C.overview-con .f116 {font-size: 0.453125rem;}
.redmi10C.overview-con .f120 {font-size: 0.46875rem;}
.redmi10C.overview-con .f128 {font-size: 0.5rem;}
.redmi10C.overview-con .f130 {font-size: 0.507813rem;}
.redmi10C.overview-con .f138 {font-size: 0.539063rem;}
.redmi10C.overview-con .f140 {font-size: 0.546875rem;}
.redmi10C.overview-con .f142 {font-size: 0.554688rem;}
.redmi10C.overview-con .f144 {font-size: 0.5625rem;}
.redmi10C.overview-con .f146 {font-size: 0.570313rem;}
.redmi10C.overview-con .f148 {font-size: 0.578125rem;}
.redmi10C.overview-con .f150 {font-size: 0.585938rem;}
.redmi10C.overview-con .f156 {font-size: 0.609375rem;}
.redmi10C.overview-con .f160 {font-size: 0.625rem;}
.redmi10C.overview-con .f200 {font-size: 0.78125rem;}
.redmi10C.overview-con .f248 {font-size: 0.96875rem;}
.redmi10C.overview-con .black {color: #000;}
.redmi10C.overview-con .section {position: relative; width: 100%;}
.redmi10C.overview-con .section .text-container.absolute {position: absolute;}
.redmi10C.overview-con .section-01 {background-position-y: -0.351563rem; background-size: 10rem 100%; height: 5.40625rem;}
.redmi10C.overview-con .section-01 .text-content {display: flex; flex-direction: column; letter-spacing: -0.9px; padding: 1.523438rem 0 0 6.472656rem; text-align: left; width: 2.617188rem;}

.hairlines .redmi10C.overview-con .section-01 .text-content {
  letter-spacing: -0.5px;
}
.redmi10C.overview-con .section-01 .icon {
  display: block;
  height: 0.246094rem;
  width: 1.550781rem;
}
.redmi10C.overview-con .section-01 .f46 {
  line-height: 1.3;
  margin-top: 0.140625rem;
}
.redmi10C.overview-con .section-01 .f32 {
  line-height: 1.5;
}
.redmi10C.overview-con .section-01 .f22 {
  line-height: 1.2;
  margin-top: 0.078125rem;
}
.redmi10C.overview-con .section-01 .price {
  margin-top: 0.265625rem;
}
.redmi10C.overview-con .section-01 .icon01 {
  height: 0.261719rem;
  margin-top: 0.375rem;
  width: 0.695313rem;
}
.redmi10C.overview-con .section-02 {
  background-repeat: no-repeat;
  background-size: cover;
  height: 5.390625rem;
  position: relative;
}
.redmi10C.overview-con .section-02 .item {
  display: flex;
  flex-direction: column;
  position: absolute;
  text-align: left;
  width: 1.640625rem;
}
.redmi10C.overview-con .section-02 .item01 {
  left: 2.488281rem;
  top: 1.230469rem;
  text-align: center;
}
.redmi10C.overview-con .section-02 .item02 {
  left: 5rem;
  top: 1.285156rem;
}
.redmi10C.overview-con .section-02 .item03 {
  left: 6.640625rem;
  top: 2.414063rem;
  width: 1.210938rem;
}
.redmi10C.overview-con .section-02 .item04 {
  left: 2.34375rem;
  top: 3.804688rem;
}
.redmi10C.overview-con .section-02 .f36,
.redmi10C.overview-con .section-02 .f50 {
  line-height: 1;
}
.redmi10C.overview-con .section-02 .f32 {
  line-height: 1.2;
  margin-top: 0.03125rem;
}
.redmi10C.overview-con .section-03 {
  background-repeat: no-repeat;
  background-size: cover;
  height: 4.152344rem;
  position: relative;
}
.redmi10C.overview-con .section-03 .text-content {
  display: flex;
  flex-direction: column;
  padding: 0.859375rem 0 0 1.992188rem;
  text-align: left;
  width: 3.046875rem;
}
.redmi10C.overview-con .section-03 .f72 {
  line-height: 1.1;
}
.redmi10C.overview-con .section-03 .f26 {
  line-height: 1.2;
  margin-top: 0.15625rem;
}
.redmi10C.overview-con .section-03 .f32 {
  line-height: 1.2;
  margin-top: 0.03125rem;
}
.redmi10C.overview-con .section-03 .text-list {
  display: flex;
  justify-content: space-between;
  margin-top: 0.507813rem;
  width: 2.890625rem;
}
.redmi10C.overview-con .section-03 .item {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.redmi10C.overview-con .section-03 .f56 {
  line-height: 1.2;
}
.redmi10C.overview-con .section-03 .item .f26 {
  line-height: 1.2;
  margin-top: 0.078125rem;
}
.redmi10C.overview-con .section-04 {
  background: #fff;
}
.redmi10C.overview-con .section-04 .text-content {
  display: flex;
  flex-direction: column;
  padding: 0.976563rem 0 0 1.992188rem;
  text-align: left;
}
.redmi10C.overview-con .section-04 .f72 {
  line-height: 1.1;
}
.redmi10C.overview-con .section-04 .f26 {
  line-height: 1.2;
  margin-top: 0.078125rem;
}
.redmi10C.overview-con .section-04 .top {
  width: 2.539063rem;
}
.redmi10C.overview-con .section-04 .img-box {
  display: block;
  height: 3.4375rem;
  margin-top: 0.46875rem;
  position: relative;
  width: 10rem;
}
.redmi10C.overview-con .section-04 .img {
  height: 3.4375rem;
  position: absolute;
  width: 10rem;
}
.redmi10C.overview-con .section-04 .f32 {
  line-height: 1.2;
  margin-top: 0.03125rem;
}
.redmi10C.overview-con .section-04 .text-list {
  display: flex;
  flex-direction: column;
  left: 1.992188rem;
  position: absolute;
  top: 0.742188rem;
  width: 2.96875rem;
}
.redmi10C.overview-con .section-04 .item {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.redmi10C.overview-con .section-04 .item:nth-of-type(2) {
  margin-top: 0.390625rem;
}
.redmi10C.overview-con .section-04 .f56 {
  line-height: 1;
}
.redmi10C.overview-con .section-05 {
  background: #fff;
  background-size: contain;
  height: 6.40625rem;
}
.redmi10C.overview-con .section-05 .text-content {
  display: flex;
  flex-direction: column;
  padding: 1.132813rem 0 0 1.992188rem;
  text-align: left;
  width: 5.859375rem;
}
.redmi10C.overview-con .section-05 .f72 {
  line-height: 1.1;
}
.redmi10C.overview-con .section-05 .f26 {
  line-height: 1.2;
  margin-top: 0.078125rem;
}
.redmi10C.overview-con .section-05 .f32 {
  line-height: 1.2;
  margin-top: 0.03125rem;
}
.redmi10C.overview-con .section-05 .icon-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.15625rem;
  margin-top: 0.351563rem;
  position: relative;
}
.redmi10C.overview-con .section-05 .item {
  position: relative;
  width: 1.328125rem;
}
.redmi10C.overview-con .section-05 .icon {
  align-items: center;
  background-size: cover;
  display: flex;
  height: 0.527344rem;
  justify-content: center;
  text-align: center;
  width: 0.503906rem;
}
.redmi10C.overview-con .section-05 .icon span {
  color: #859d93;
  letter-spacing: -0.011719rem;
  margin-left: 0.046875rem;
  margin-top: 0.011719rem;
}
.redmi10C.overview-con .section-05 .text {
  display: flex;
  flex-direction: column;
  left: 0.46875rem;
  position: absolute;
  text-align: left;
  top: 0.140625rem;
  width: 0.664063rem;
}
.redmi10C.overview-con .section-05 .f56 {
  color: #333;
  line-height: 1.1;
}
.redmi10C.overview-con .section-05 .f30 {
  color: #333;
  line-height: 1.1;
  margin-top: 0.039063rem;
}
.redmi10C.overview-con .section-05 .img-box {
  height: 3.472656rem;
  position: relative;
  width: 10rem;
}
.redmi10C.overview-con .section-05 .img {
  height: 6.402344rem;
  position: absolute;
  width: 10rem;
}
.redmi10C.overview-con .section-05 .desc {
  color: #333;
  left: 1.992188rem;
  position: absolute;
  top: 2.382813rem;
}
.redmi10C.overview-con .section-06 {
  background-repeat: no-repeat;
  background-size: cover;
  height: 4.871094rem;
  position: relative;
}
.redmi10C.overview-con .section-06 .text-content {
  display: flex;
  flex-direction: column;
  padding: 1.914063rem 0 0 6.40625rem;
  text-align: left;
  width: 2.460938rem;
}
.redmi10C.overview-con .section-06 .f72 {
  line-height: 1.1;
}
.redmi10C.overview-con .section-06 .f26 {
  line-height: 1.2;
  margin-top: 0.15625rem;
}
.redmi10C.overview-con .section-06 .f24 {
  line-height: 1.2;
  margin-top: 0.664063rem;
}
.redmi10C.overview-con .section-07 {
  background: #fff;
}
.redmi10C.overview-con .section-07 .text-content {
  display: flex;
  flex-direction: column;
  padding: 1.015625rem 0 0 1.992188rem;
  text-align: left;
  width: 4.492188rem;
}
.redmi10C.overview-con .section-07 .f72 {
  line-height: 1.1;
}
.redmi10C.overview-con .section-07 .f26 {
  color: #333;
  line-height: 1.2;
  margin-top: 0.15625rem;
}
.redmi10C.overview-con .section-07 .img {
  display: block;
  height: 3.304688rem;
  width: 10rem;
}
.redmi10C.overview-con .section-07 .section07img {
  display: flex;
  margin-left: 1.992188rem;
  margin-top: 0.195313rem;
}
.redmi10C.overview-con .section-07 .icon001 {
  height: 0.226563rem;
  width: 0.851563rem;
}
.redmi10C.overview-con .section-07 .icon002 {
  height: 0.289063rem;
  margin: 0 0.3125rem;
  width: 0.007813rem;
}
.redmi10C.overview-con .section-07 .icon003 {
  height: 0.351563rem;
  width: 0.839844rem;
}
.redmi10C.overview-con .section-08 {
  background-repeat: no-repeat;
  background-size: cover;
  height: 4.085938rem;
  position: relative;
}
.redmi10C.overview-con .section-08 .text-content {
  display: flex;
  flex-direction: column;
  padding: 1.132813rem 0 0 6.40625rem;
  text-align: left;
  width: 2.460938rem;
}
.redmi10C.overview-con .section-08 .f72 {
  line-height: 1.1;
}
.redmi10C.overview-con .section-08 .f26 {
  line-height: 1.2;
  margin-top: 0.15625rem;
}
.redmi10C.overview-con .section-08 .item {
  display: flex;
  flex-direction: column;
  margin-top: 0.351563rem;
  text-align: left;
}
.redmi10C.overview-con .section-08 .f68 {
  line-height: 1.2;
}
.redmi10C.overview-con .section-08 .item .f26 {
  margin-top: 0;
}

.redmi10C.overview-con .section-09 {
  background: #fff;
}

.redmi10C.overview-con .section-09 .text-content {
  display: flex;
  justify-content: space-between;
  padding: 1.015625rem 0 0.703125rem 1.972656rem;
  text-align: left;
  width: 6.523438rem;
}

.redmi10C.overview-con .section-09 .f72 {
  line-height: 1.1;
  width: 3.28125rem;
}

.redmi10C.overview-con .section-09 .f26 {
  line-height: 1.3;
  margin-top: 0.070313rem;
  width: 2.96875rem;
}

.redmi10C.overview-con .section-010 {
  background-repeat: no-repeat;
  background-size: cover;
  height: 5.738281rem;
  position: relative;
}

.redmi10C.overview-con .section-010 .icon-list {
  display: flex;
  flex-direction: column;
  left: 6.882813rem;
  position: absolute;
  top: 1.132813rem;
  width: 0.9375rem;
}

.redmi10C.overview-con .section-010 .item {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.redmi10C.overview-con .section-010 .item:last-of-type {
  margin-top: 0.390625rem;
}
.redmi10C.overview-con .section-010 .icon {
  display: block;
  height: 0.464844rem;
  margin: 0 auto;
  width: 0.429688rem;
}
.redmi10C.overview-con .section-010 .f56 {
  line-height: 1.1;
  margin-top: 0.117188rem;
}
.redmi10C.overview-con .section-010 .f26 {
  color: #333;
  line-height: 1.2;
  margin-top: 0.15625rem;
}
.redmi10C.overview-con .section-011 {
  background-repeat: no-repeat;
  background-size: cover;
  height: 5.003906rem;
  position: relative;
}
.redmi10C.overview-con .section-011 .text {
  color: #fff;
  position: absolute;
  text-align: left;
}
.redmi10C.overview-con .section-011 .text01 {
  left: 2.226563rem;
  line-height: 1.2;
  top: 4.257813rem;
  width: 1.5625rem;
}
.redmi10C.overview-con .section-011 .text02 {
  left: 5.578125rem;
  line-height: 1.1;
  top: 4.414063rem;
  width: 2.304688rem;
}
.redmi10C.overview-con .section-012 {
  background: #fff;
}
.redmi10C.overview-con .section-012 .text-content {
  display: flex;
  flex-direction: column;
  left: 2.226563rem;
  position: absolute;
  text-align: left;
  top: 1.25rem;
  width: 1.953125rem;
}
.redmi10C.overview-con .section-012 .img-box {
  height: 3.828125rem;
  margin-top: 0.9375rem;
  position: relative;
  width: 10rem;
}
.redmi10C.overview-con .section-012 .img {
  display: block;
  height: 3.828125rem;
  width: 10rem;
}
.redmi10C.overview-con .section-012 .f72 {
  line-height: 1.1;
}
.redmi10C.overview-con .section-012 .f26 {
  color: #333;
  line-height: 1.2;
  margin-top: 0.15625rem;
}
.redmi10C.overview-con .section-013 {
  background: #fff;
  margin-top: 1.09375rem;
  position: relative;
}
.redmi10C.overview-con .section-013 .img-box {
  height: 4.097656rem;
  position: relative;
  width: 10rem;
}
.redmi10C.overview-con .section-013 .img {
  display: none;
  height: 4.097656rem;
  position: absolute;
  width: 10rem;
  z-index: 2;
}
.redmi10C.overview-con .section-013 .img.active {
  display: block;
}
.redmi10C.overview-con .section-013 .text-content {
  display: flex;
  flex-direction: column;
  left: 5.625rem;
  position: absolute;
  text-align: left;
  top: 1.5625rem;
  z-index: 3;
}
.redmi10C.overview-con .section-013 .icon-list {
  display: flex;
  justify-content: flex-start;
  margin-top: 0.664063rem;
}
.redmi10C.overview-con .section-013 .item {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}
.redmi10C.overview-con .section-013 .item:nth-of-type(n + 2) {
  margin-left: 0.117188rem;
}
.redmi10C.overview-con .section-013 .f72 {
  line-height: 1.1;
  width: 3.28125rem;
}
.redmi10C.overview-con .section-013 .f40 {
  display: none;
  line-height: 1.3;
  margin: 0 0 0 0.046875rem;
}
.redmi10C.overview-con .section-013 .f40.active {
  display: block;
}
.redmi10C.overview-con .section-014 {
  background: #fff;
}
.redmi10C.overview-con .section-014 .text-content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0.859375rem 0 0.625rem;
  text-align: center;
  width: 5.234375rem;
}
.redmi10C.overview-con .section-014 .icon-list {
  display: flex;
  justify-content: space-between;
  margin: 0.46875rem auto 0;
  width: 5.234375rem;
}
.redmi10C.overview-con .section-014 .item {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 1.078125rem;
}
.redmi10C.overview-con .section-014 .icon {
  display: block;
  height: 0.464844rem;
  margin: 0 auto;
  width: 0.429688rem;
}
.redmi10C.overview-con .section-014 .f30 {
  color: #4e4e4e;
  line-height: 1.2;
  margin-top: 0.140625rem;
}
.redmi10C.overview-con .section-015 {
  background-repeat: no-repeat;
  background-size: cover;
  height: 2.257813rem;
  position: relative;
}
.redmi10C.overview-con .section-015 .f72 {
  color: #fff;
  line-height: 1.2;
  padding: 1.054688rem 0 0 1.992188rem;
  text-align: left;
}
.redmi10C.overview-con .section-016 {
  background: #fff;
}
.redmi10C.overview-con .section-016 .text-content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 1.28125rem 0;
  width: 6.015625rem;
}
.redmi10C.overview-con .section-016 .f-bold,
.redmi10C.overview-con .section-016 .f-light {
  color: #666;
  line-height: 1.2;
}



a {
  background-color: initial;
}
a:active,
a:hover {
  outline: 0;
}

a {
  color: #757575;
}


sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: initial;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}

a {
  color: inherit;
  font-size: 14px;
  text-decoration: none;
}
.container {
  margin: 0 auto;
  width: 1226px;
}
main {
  display: inline-block;
  font-size: 16px;
}